USE [Dating]
GO
/****** Object:  Table [dbo].[ACTIVITY]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY](
	[ActivityID] [smallint] IDENTITY(1,1) NOT NULL,
	[ActivityName] [varchar](100) NOT NULL,
	[ActivityAddress1] [varchar](30) NOT NULL,
	[ActivityAddress2] [varchar](30) NULL,
	[ActivityCity] [varchar](20) NOT NULL,
	[ActivityState] [varchar](10) NULL,
	[ActivityPostalCode] [char](10) NOT NULL,
	[ActivityCountry] [varchar](20) NULL,
	[ActivityPhone] [varchar](20) NOT NULL,
	[ActivityEmail] [varchar](30) NULL,
	[ActivityCost] [smallmoney] NOT NULL,
	[ActivityTypeID] [smallint] NULL,
 CONSTRAINT [Activity_Primary_Key_Constraint] PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTIVITY_TYPE]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITY_TYPE](
	[ActivityTypeID] [smallint] IDENTITY(1,1) NOT NULL,
	[ActivityTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTRACTIVEPERSON]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTRACTIVEPERSON](
	[AttractivePersonID] [smallint] IDENTITY(1,1) NOT NULL,
	[AttractivePersonFirstName] [varchar](20) NOT NULL,
	[AttractivePersonLastName] [varchar](20) NOT NULL,
	[AttractivePersonAddress1] [varchar](30) NOT NULL,
	[AttractivePersonAddress2] [varchar](20) NULL,
	[AttractivePersonCity] [varchar](20) NOT NULL,
	[AttractivePersonState] [char](2) NULL,
	[AttractivePersonPostalCode] [char](10) NOT NULL,
	[AttractivePersonCountry] [varchar](20) NULL,
	[AttractivePersonPhoneNumber] [varchar](20) NOT NULL,
	[AttractivePersonEmail] [varchar](30) NULL,
	[AttractivePersonComments] [varchar](200) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [Attractive_Person_Primary_Key_Constraint] PRIMARY KEY CLUSTERED 
(
	[AttractivePersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOMEAL]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOMEAL](
	[ComboMealID] [smallint] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [smallint] NOT NULL,
	[ComboMealName] [varchar](20) NOT NULL,
	[ComboMealMainItem] [varchar](20) NOT NULL,
	[ComboMealSideItem] [varchar](20) NULL,
	[ComboMealDrink] [varchar](20) NULL,
	[ComboMealCost] [smallmoney] NULL,
	[ComboMealComments] [varchar](200) NULL,
 CONSTRAINT [Combo_Meal_Primary_Key_Constraint] PRIMARY KEY CLUSTERED 
(
	[ComboMealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTDATE]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTDATE](
	[HotDateID] [smallint] IDENTITY(1,1) NOT NULL,
	[AttractivePersonID] [smallint] NOT NULL,
	[ActivityID] [smallint] NOT NULL,
	[HotDateDayOfOccassion] [datetime] NULL,
	[HotDateComments] [varchar](200) NULL,
 CONSTRAINT [Hot_Date_Primary_Key_Constraint] PRIMARY KEY CLUSTERED 
(
	[HotDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTDATE_ACTIVITY]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTDATE_ACTIVITY](
	[HotDateActivityID] [int] IDENTITY(1,1) NOT NULL,
	[HotDateID] [smallint] NOT NULL,
	[ActivityID] [smallint] NULL,
	[ActivityDuration] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[HotDateActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESTAURANT]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANT](
	[RestaurantID] [smallint] IDENTITY(1,1) NOT NULL,
	[RestaurantName] [varchar](100) NOT NULL,
	[RestaurantAddress1] [varchar](30) NOT NULL,
	[RestaurantAddress2] [varchar](30) NULL,
	[RestaurantCity] [varchar](20) NOT NULL,
	[RestaurantState] [char](2) NULL,
	[RestaurantPostalCode] [char](10) NOT NULL,
	[RestaurantCountry] [varchar](20) NULL,
	[RestaurantPhone] [varchar](20) NULL,
	[RestaurantComments] [varchar](200) NULL,
 CONSTRAINT [Restaurant_Primary_Key_Constraint] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROMANTICMEAL]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROMANTICMEAL](
	[RomanticMealID] [smallint] IDENTITY(1,1) NOT NULL,
	[HotDateID] [smallint] NOT NULL,
	[ComboMealID] [smallint] NOT NULL,
 CONSTRAINT [Romantic_Meal_Primary_Key_Constraint] PRIMARY KEY CLUSTERED 
(
	[RomanticMealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/03/2025 21:28:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACTIVITY] ON 

INSERT [dbo].[ACTIVITY] ([ActivityID], [ActivityName], [ActivityAddress1], [ActivityAddress2], [ActivityCity], [ActivityState], [ActivityPostalCode], [ActivityCountry], [ActivityPhone], [ActivityEmail], [ActivityCost], [ActivityTypeID]) VALUES (53, N'Cooking Class', N'201 Adventure Rd', NULL, N'Los Angeles', N'CA', N'80100     ', N'USA', N'555-5678-001', N'info1@adventure.net', 53.6800, NULL)
INSERT [dbo].[ACTIVITY] ([ActivityID], [ActivityName], [ActivityAddress1], [ActivityAddress2], [ActivityCity], [ActivityState], [ActivityPostalCode], [ActivityCountry], [ActivityPhone], [ActivityEmail], [ActivityCost], [ActivityTypeID]) VALUES (54, N'Wine Tasting', N'202 Adventure Rd', NULL, N'Chicago', N'IL', N'80200     ', N'USA', N'555-5678-002', N'info2@experiences.org', 107.8700, NULL)
INSERT [dbo].[ACTIVITY] ([ActivityID], [ActivityName], [ActivityAddress1], [ActivityAddress2], [ActivityCity], [ActivityState], [ActivityPostalCode], [ActivityCountry], [ActivityPhone], [ActivityEmail], [ActivityCost], [ActivityTypeID]) VALUES (55, N'Hiking Expedition', N'203 Adventure Rd', N'Suite 4', N'San Francisco', N'CA', N'80300     ', N'USA', N'555-5678-003', N'info3@getaway.com', 22.0800, NULL)
GO
SET IDENTITY_INSERT [dbo].[ACTIVITY] OFF
GO
SET IDENTITY_INSERT [dbo].[ATTRACTIVEPERSON] ON 

INSERT [dbo].[ATTRACTIVEPERSON] ([AttractivePersonID], [AttractivePersonFirstName], [AttractivePersonLastName], [AttractivePersonAddress1], [AttractivePersonAddress2], [AttractivePersonCity], [AttractivePersonState], [AttractivePersonPostalCode], [AttractivePersonCountry], [AttractivePersonPhoneNumber], [AttractivePersonEmail], [AttractivePersonComments], [UserID]) VALUES (1, N'Alex', N'Smith', N'200 Love St', NULL, N'New York', N'NY', N'2000      ', N'USA', N'555-9876-000', N'alexsmith0@example.com', N'Loves hiking', NULL)
INSERT [dbo].[ATTRACTIVEPERSON] ([AttractivePersonID], [AttractivePersonFirstName], [AttractivePersonLastName], [AttractivePersonAddress1], [AttractivePersonAddress2], [AttractivePersonCity], [AttractivePersonState], [AttractivePersonPostalCode], [AttractivePersonCountry], [AttractivePersonPhoneNumber], [AttractivePersonEmail], [AttractivePersonComments], [UserID]) VALUES (2, N'Jordan', N'Johnson', N'201 Love St', NULL, N'Los Angeles', N'CA', N'2001      ', N'USA', N'555-9876-001', N'jordanjohnson1@example.com', N'Enjoys reading', NULL)
INSERT [dbo].[ATTRACTIVEPERSON] ([AttractivePersonID], [AttractivePersonFirstName], [AttractivePersonLastName], [AttractivePersonAddress1], [AttractivePersonAddress2], [AttractivePersonCity], [AttractivePersonState], [AttractivePersonPostalCode], [AttractivePersonCountry], [AttractivePersonPhoneNumber], [AttractivePersonEmail], [AttractivePersonComments], [UserID]) VALUES (3, N'Taylor', N'Brown', N'202 Love St', NULL, N'Chicago', N'IL', N'2002      ', N'USA', N'555-9876-002', N'taylorbrown2@example.com', N'Big fan of music', NULL)
GO
SET IDENTITY_INSERT [dbo].[ATTRACTIVEPERSON] OFF
GO
SET IDENTITY_INSERT [dbo].[COMBOMEAL] ON 

INSERT [dbo].[COMBOMEAL] ([ComboMealID], [RestaurantID], [ComboMealName], [ComboMealMainItem], [ComboMealSideItem], [ComboMealDrink], [ComboMealCost], [ComboMealComments]) VALUES (1, 1, N'Classic Burger Meal', N'Cheeseburger', N'Fries', N'Soda', 5.9900, N'Best seller!')
INSERT [dbo].[COMBOMEAL] ([ComboMealID], [RestaurantID], [ComboMealName], [ComboMealMainItem], [ComboMealSideItem], [ComboMealDrink], [ComboMealCost], [ComboMealComments]) VALUES (2, 2, N'Chicken Combo', N'Grilled Chicken', N'Onion Rings', N'Iced Tea', 6.9900, N'Limited time offer')
INSERT [dbo].[COMBOMEAL] ([ComboMealID], [RestaurantID], [ComboMealName], [ComboMealMainItem], [ComboMealSideItem], [ComboMealDrink], [ComboMealCost], [ComboMealComments]) VALUES (3, 3, N'Vegan Delight', N'Tofu Wrap', N'Garden Salad', N'Lemonade', 7.9900, N'Customer favorite')
GO
SET IDENTITY_INSERT [dbo].[COMBOMEAL] OFF
GO
SET IDENTITY_INSERT [dbo].[HOTDATE] ON 

INSERT [dbo].[HOTDATE] ([HotDateID], [AttractivePersonID], [ActivityID], [HotDateDayOfOccassion], [HotDateComments]) VALUES (17, 164, 201, CAST(N'2025-01-26T00:00:00.000' AS DateTime), N'''Wouldnt recommend')
INSERT [dbo].[HOTDATE] ([HotDateID], [AttractivePersonID], [ActivityID], [HotDateDayOfOccassion], [HotDateComments]) VALUES (24, 161, 224, CAST(N'2024-05-26T00:00:00.000' AS DateTime), N'Wouldnt recommend.')
INSERT [dbo].[HOTDATE] ([HotDateID], [AttractivePersonID], [ActivityID], [HotDateDayOfOccassion], [HotDateComments]) VALUES (25, 161, 224, CAST(N'2025-01-26T00:00:00.000' AS DateTime), N'Wouldnt recommend.')
GO
SET IDENTITY_INSERT [dbo].[HOTDATE] OFF
GO
SET IDENTITY_INSERT [dbo].[RESTAURANT] ON 

INSERT [dbo].[RESTAURANT] ([RestaurantID], [RestaurantName], [RestaurantAddress1], [RestaurantAddress2], [RestaurantCity], [RestaurantState], [RestaurantPostalCode], [RestaurantCountry], [RestaurantPhone], [RestaurantComments]) VALUES (1, N'Tasty Bites 1', N'101 Gourmet St', NULL, N'Los Angeles', N'CA', N'90100     ', N'USA', N'555-1234-001', N'Known for signature dishes')
INSERT [dbo].[RESTAURANT] ([RestaurantID], [RestaurantName], [RestaurantAddress1], [RestaurantAddress2], [RestaurantCity], [RestaurantState], [RestaurantPostalCode], [RestaurantCountry], [RestaurantPhone], [RestaurantComments]) VALUES (2, N'Fine Dine 2', N'102 Gourmet St', N'Suite 3', N'Chicago', N'IL', N'90200     ', N'USA', N'555-1234-002', N'Perfect for dates')
INSERT [dbo].[RESTAURANT] ([RestaurantID], [RestaurantName], [RestaurantAddress1], [RestaurantAddress2], [RestaurantCity], [RestaurantState], [RestaurantPostalCode], [RestaurantCountry], [RestaurantPhone], [RestaurantComments]) VALUES (3, N'The Food Spot 3', N'103 Gourmet St', NULL, N'San Francisco', N'CA', N'90300     ', N'USA', N'555-1234-003', N'Highly rated by food critics')
GO
SET IDENTITY_INSERT [dbo].[RESTAURANT] OFF
GO
SET IDENTITY_INSERT [dbo].[ROMANTICMEAL] ON 

INSERT [dbo].[ROMANTICMEAL] ([RomanticMealID], [HotDateID], [ComboMealID]) VALUES (1, 59, 61)
INSERT [dbo].[ROMANTICMEAL] ([RomanticMealID], [HotDateID], [ComboMealID]) VALUES (2, 127, 193)
INSERT [dbo].[ROMANTICMEAL] ([RomanticMealID], [HotDateID], [ComboMealID]) VALUES (3, 24, 13)
GO
SET IDENTITY_INSERT [dbo].[ROMANTICMEAL] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__536C85E454FF7769]    Script Date: 12/03/2025 21:28:20 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__A9D10534825505E1]    Script Date: 12/03/2025 21:28:20 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[ACTIVITY_TYPE] ([ActivityTypeID])
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_Activity_ActivityType] FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[ACTIVITY_TYPE] ([ActivityTypeID])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK_Activity_ActivityType]
GO
ALTER TABLE [dbo].[ATTRACTIVEPERSON]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[ATTRACTIVEPERSON]  WITH CHECK ADD  CONSTRAINT [FK_AttractivePerson_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[ATTRACTIVEPERSON] CHECK CONSTRAINT [FK_AttractivePerson_User]
GO
ALTER TABLE [dbo].[COMBOMEAL]  WITH CHECK ADD  CONSTRAINT [FK_ComboMeal_Restaurant] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[RESTAURANT] ([RestaurantID])
GO
ALTER TABLE [dbo].[COMBOMEAL] CHECK CONSTRAINT [FK_ComboMeal_Restaurant]
GO
ALTER TABLE [dbo].[HOTDATE]  WITH CHECK ADD  CONSTRAINT [FK_HotDate_AttractivePerson] FOREIGN KEY([AttractivePersonID])
REFERENCES [dbo].[ATTRACTIVEPERSON] ([AttractivePersonID])
GO
ALTER TABLE [dbo].[HOTDATE] CHECK CONSTRAINT [FK_HotDate_AttractivePerson]
GO
ALTER TABLE [dbo].[HOTDATE_ACTIVITY]  WITH CHECK ADD FOREIGN KEY([ActivityID])
REFERENCES [dbo].[ACTIVITY] ([ActivityID])
GO
ALTER TABLE [dbo].[HOTDATE_ACTIVITY]  WITH CHECK ADD FOREIGN KEY([HotDateID])
REFERENCES [dbo].[HOTDATE] ([HotDateID])
GO
ALTER TABLE [dbo].[ROMANTICMEAL]  WITH CHECK ADD  CONSTRAINT [FK_RomanticMeal_ComboMeal] FOREIGN KEY([ComboMealID])
REFERENCES [dbo].[COMBOMEAL] ([ComboMealID])
GO
ALTER TABLE [dbo].[ROMANTICMEAL] CHECK CONSTRAINT [FK_RomanticMeal_ComboMeal]
GO
ALTER TABLE [dbo].[ROMANTICMEAL]  WITH CHECK ADD  CONSTRAINT [FK_RomanticMeal_HotDate] FOREIGN KEY([HotDateID])
REFERENCES [dbo].[HOTDATE] ([HotDateID])
GO
ALTER TABLE [dbo].[ROMANTICMEAL] CHECK CONSTRAINT [FK_RomanticMeal_HotDate]
GO
